.short-weather {
  align-self: flex-end;

  display: flex;
  flex: row wrap;
  align-items: center;
  width: 100%;

  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.short-weather > * {
  margin: 1.1rem;
}

.short-weather > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.short-temp {
  font-size: 10.5rem;
}

.short-name {
  font-size: 4.5rem;
  letter-spacing: 1.3px;
  font-weight: 400;
}

.short-date {
  font-size: 2.5rem;
}

.short-icon {
  width: 40px;
  height: 40px;
}

.short-main {
  font-size: 2rem;
  font-weight: 300;
}
