.search {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
}

.search-btn {
  display: block;
}

.search-text {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1.1rem;
  border-radius: 1rem;
  position: relative;
  top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.search-btn:hover + .search-text {
  opacity: 1;
}

.search-text:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 15%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

.search-input {
  padding: 1rem 2.2rem;
  border-radius: 1.5rem;
  outline: none;
  border: none;
  width: 50px;
  /* opacity: 0; */
}
